@import 'mixins_and_variables_and_functions';

.commits-row {
  + .commits-row {
    border-top: 1px solid $gray-50;
  }

  + .commits-empty {
    display: none;
  }
}

.add-review-item {
  .gl-tab-nav-item {
    height: 100%;
  }
}

.add-review-item-modal {
  .modal-content {
    position: absolute;
    top: 5%;
  }

  .title-hint-text {
    color: $gl-text-color-secondary;
  }

  .gl-filtered-search-suggestion-list.dropdown-menu {
    width: $gl-max-dropdown-max-height;
  }
}
